In [1]:
import pandas as pd
import json
import urllib as u
import datetime

In [45]:
#create APL link 
domain='http://datapoint.metoffice.gov.uk/public/data/val/'
origValue = {'type':'wxobs','LocationID':'all','datatype':'json'}
key = '00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'

### Observation

In [88]:
locationurl = domain + 'wxobs/all/json/sitelist?key=' + key

In [89]:
locationurl

'http://datapoint.metoffice.gov.uk/public/data/val/wxobs/all/json/sitelist?key=00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'

In [20]:
pd.DataFrame(json.loads(u.request.urlopen(locationurl).read())['Locations']['Location'])

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
0,7.0,3066,57.6494,-3.5606,Kinloss,gr,Moray,NaN,NaN
1,6.0,3068,57.712,-3.322,Lossiemouth,gr,Moray,LNDSYN,NaN
2,36.0,3075,58.454,-3.089,Wick John O Groats Airport,he,Highland,LNDSYN,NaN
3,15.0,3002,60.749,-0.854,Baltasound,os,Shetland Islands,NaN,NaN
4,82.0,3005,60.139,-1.183,Lerwick (S. Screen),os,Shetland Islands,LNDSYN,NaN
...,...,...,...,...,...,...,...,...,...
142,8.0,3385,53.473,0.154,Donna Nook,em,Lincolnshire,LNDSYN,NaN
143,6.0,3391,53.094,-0.171,Coningsby,em,Lincolnshire,NaN,NaN
144,110.0,99142,54.273,-0.421,Scarborough,yh,North Yorkshire,NaN,NaN
145,206.0,996,56.69936,-4.19345,Loch Rannoch,NaN,Perth and Kinross,NaN,NaN
146,27.0,3844,50.7366,-3.40458,Exeter Airport,sw,Devon,NaN,NaN

In [22]:
df[df['region'] == 'ne']

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
37,211.0,3230,55.285,-2.279,Redesdale Camp,ne,Northumberland,NaN,Northumberland National Park
38,146.0,3238,55.02,-1.88,Albemarle,ne,Northumberland,NaN,NaN
122,158.0,3275,54.563,-0.863,Loftus (Samos),ne,Redcar and Cleveland,NaN,NaN
135,23.0,3240,55.421,-1.6,Boulmer,ne,Northumberland,LNDSYN,NaN

### Forecast

In [54]:
df2 = pd.DataFrame(json.loads(u.request.urlopen(fcsurl).read())['Locations']['Location'])

In [55]:
df2[df2['region'] == 'ne']

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
52,211.0,3230,55.285,-2.279,Redesdale Camp,ne,Northumberland,NaN,Northumberland National Park
53,146.0,3238,55.02,-1.88,Albemarle,ne,Northumberland,NaN,NaN
84,6.0,310109,54.5741,-1.2334,Middlesbrough,ne,Middlesbrough,NaN,NaN
106,27.0,322758,54.8402,-1.3359,Seaham,ne,Durham,NaN,NaN
108,7.0,322847,54.59,-1.15,Teesport,ne,Redcar and Cleveland,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5928,714.0,371502,55.4719,-2.0888,Hedgehope Hill,ne,Northumberland,NaN,Northumberland National Park
5948,654.0,371590,54.6926,-2.0955,Outberry Plain,ne,Durham,NaN,NaN
5982,469.0,354884,55.3384,-2.3558,Windy Crag,ne,Northumberland,NaN,Northumberland National Park
5983,483.0,354885,55.4167,-2.214,Windy Gyle,ne,Northumberland,NaN,Northumberland National Park
5984,205.0,354890,55.0797,-2.3225,Stonehaugh,ne,Northumberland,NaN,Northumberland National Park

In [57]:
df2[df2['unitaryAuthArea'] == 'South Tyneside']

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
763,43.0,350506,54.9446,-1.4393,Boldon,ne,South Tyneside,NaN,NaN
892,0.0,354761,54.9778,-1.378,Marsden (Beach),ne,South Tyneside,NaN,NaN
1214,36.0,350943,54.955,-1.3991,Cleadon,ne,South Tyneside,NaN,NaN
1758,29.0,350507,54.9504,-1.4675,Boldon Colliery,ne,South Tyneside,NaN,NaN
2545,37.0,351830,54.9722,-1.5204,Hebburn,ne,South Tyneside,NaN,NaN
2639,13.0,352040,54.9802,-1.4812,Jarrow,ne,South Tyneside,NaN,NaN
3300,40.0,352548,54.9781,-1.388,Marsden (Tyne & Wear),ne,South Tyneside,NaN,NaN
3813,8.0,353588,54.9993,-1.4258,South Shields,ne,South Tyneside,NaN,NaN
4896,0.0,354762,55.002,-1.4136,South Shields (Sandhaven) (Beach),ne,South Tyneside,NaN,NaN
5627,26.0,351948,54.9881,-1.398,Horsley Hill,ne,South Tyneside,NaN,NaN

In [58]:
df2[df2['name'] == 'Jarrow']

,elevation,id,latitude,longitude,name,region,unitaryAuthArea,obsSource,nationalPark
2639,13.0,352040,54.9802,-1.4812,Jarrow,ne,South Tyneside,NaN,NaN

In [59]:
jarrowurl = domain + 'wxfcs/all/json/352040?res=3hourly&key=00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'
jarrowurl

'http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/352040?res=3hourly&key=00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'

In [80]:
pd.DataFrame(json.loads(u.request.urlopen(jarrowurl).read())['SiteRep']['DV']['Location']['Period'])

  type        value                                                Rep
0  Day  2021-11-29Z  [{'D': 'WSW', 'F': '-5', 'G': '20', 'H': '82',...
1  Day  2021-11-30Z  [{'D': 'WNW', 'F': '6', 'G': '25', 'H': '91', ...
2  Day  2021-12-01Z  [{'D': 'WSW', 'F': '7', 'G': '27', 'H': '87', ...
3  Day  2021-12-02Z  [{'D': 'NW', 'F': '-3', 'G': '31', 'H': '67', ...
4  Day  2021-12-03Z  [{'D': 'SW', 'F': '-2', 'G': '16', 'H': '78', ...

In [83]:
json.loads(u.request.urlopen(jarrowurl).read())['SiteRep']['DV']['Location']['Period']

[{'type': 'Day',
  'value': '2021-11-29Z',
  'Rep': [{'D': 'WSW',
    'F': '-5',
    'G': '20',
    'H': '82',
    'Pp': '1',
    'S': '9',
    'T': '-1',
    'V': 'MO',
    'W': '3',
    'U': '1',
    '$': '540'},
   {'D': 'SW',
    'F': '0',
    'G': '16',
    'H': '76',
    'Pp': '5',
    'S': '2',
    'T': '2',
    'V': 'GO',
    'W': '7',
    'U': '1',
    '$': '720'},
   {'D': 'SW',
    'F': '0',
    'G': '18',
    'H': '82',
    'Pp': '30',
    'S': '7',
    'T': '3',
    'V': 'GO',
    'W': '7',
    'U': '1',
    '$': '900'},
   {'D': 'WSW',
    'F': '2',
    'G': '29',
    'H': '91',
    'Pp': '13',
    'S': '11',
    'T': '6',
    'V': 'GO',
    'W': '7',
    'U': '0',
    '$': '1080'},
   {'D': 'W',
    'F': '5',
    'G': '29',
    'H': '92',
    'Pp': '6',
    'S': '11',
    'T': '8',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1260'}]},
 {'type': 'Day',
  'value': '2021-11-30Z',
  'Rep': [{'D': 'WNW',
    'F': '6',
    'G': '25',
    'H': '91',
    'Pp': '10',
    'S': '9',
    'T': '8',
    'V': 'VG',
    'W': '8',
    'U': '0',
    '$': '0'},
   {'D': 'WNW',
    'F': '6',
    'G': '22',
    'H': '88',
    'Pp': '9',
    'S': '9',
    'T': '8',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '180'},
   {'D': 'NW',
    'F': '6',
    'G': '18',
    'H': '89',
    'Pp': '44',
    'S': '7',
    'T': '8',
    'V': 'GO',
    'W': '7',
    'U': '0',
    '$': '360'},
   {'D': 'WSW',
    'F': '6',
    'G': '16',
    'H': '94',
    'Pp': '54',
    'S': '7',
    'T': '8',
    'V': 'MO',
    'W': '12',
    'U': '1',
    '$': '540'},
   {'D': 'W',
    'F': '7',
    'G': '22',
    'H': '92',
    'Pp': '52',
    'S': '11',
    'T': '10',
    'V': 'GO',
    'W': '8',
    'U': '1',
    '$': '720'},
   {'D': 'WSW',
    'F': '8',
    'G': '25',
    'H': '90',
    'Pp': '15',
    'S': '11',
    'T': '10',
    'V': 'VG',
    'W': '7',
    'U': '1',
    '$': '900'},
   {'D': 'SW',
    'F': '7',
    'G': '25',
    'H': '88',
    'Pp': '54',
    'S': '11',
    'T': '10',
    'V': 'GO',
    'W': '12',
    'U': '0',
    '$': '1080'},
   {'D': 'SW',
    'F': '7',
    'G': '25',
    'H': '87',
    'Pp': '50',
    'S': '11',
    'T': '10',
    'V': 'VG',
    'W': '12',
    'U': '0',
    '$': '1260'}]},
 {'type': 'Day',
  'value': '2021-12-01Z',
  'Rep': [{'D': 'WSW',
    'F': '7',
    'G': '27',
    'H': '87',
    'Pp': '50',
    'S': '13',
    'T': '10',
    'V': 'VG',
    'W': '12',
    'U': '0',
    '$': '0'},
   {'D': 'WNW',
    'F': '3',
    'G': '34',
    'H': '84',
    'Pp': '49',
    'S': '18',
    'T': '7',
    'V': 'VG',
    'W': '12',
    'U': '0',
    '$': '180'},
   {'D': 'WNW',
    'F': '2',
    'G': '36',
    'H': '79',
    'Pp': '40',
    'S': '20',
    'T': '7',
    'V': 'VG',
    'W': '9',
    'U': '0',
    '$': '360'},
   {'D': 'NW',
    'F': '1',
    'G': '31',
    'H': '82',
    'Pp': '60',
    'S': '18',
    'T': '6',
    'V': 'GO',
    'W': '12',
    'U': '1',
    '$': '540'},
   {'D': 'NNW',
    'F': '1',
    'G': '36',
    'H': '82',
    'Pp': '83',
    'S': '20',
    'T': '6',
    'V': 'GO',
    'W': '15',
    'U': '1',
    '$': '720'},
   {'D': 'NNW',
    'F': '1',
    'G': '36',
    'H': '77',
    'Pp': '50',
    'S': '20',
    'T': '6',
    'V': 'VG',
    'W': '12',
    'U': '1',
    '$': '900'},
   {'D': 'NNW',
    'F': '0',
    'G': '36',
    'H': '74',
    'Pp': '14',
    'S': '22',
    'T': '5',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1080'},
   {'D': 'NNW',
    'F': '-1',
    'G': '36',
    'H': '69',
    'Pp': '7',
    'S': '22',
    'T': '4',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1260'}]},
 {'type': 'Day',
  'value': '2021-12-02Z',
  'Rep': [{'D': 'NW',
    'F': '-3',
    'G': '31',
    'H': '67',
    'Pp': '3',
    'S': '20',
    'T': '3',
    'V': 'VG',
    'W': '0',
    'U': '0',
    '$': '0'},
   {'D': 'NW',
    'F': '-4',
    'G': '31',
    'H': '67',
    'Pp': '2',
    'S': '20',
    'T': '2',
    'V': 'VG',
    'W': '2',
    'U': '0',
    '$': '180'},
   {'D': 'NW',
    'F': '-3',
    'G': '31',
    'H': '71',
    'Pp': '3',
    'S': '20',
    'T': '2',
    'V': 'VG',
    'W': '2',
    'U': '0',
    '$': '360'},
   {'D': 'NW',
    'F': '-3',
    'G': '29',
    'H': '70',
    'Pp': '2',
    'S': '18',
    'T': '3',
    'V': 'VG',
    'W': '3',
    'U': '1',
    '$': '540'},
   {'D': 'NW',
    'F': '-1',
    'G': '25',
    'H': '68',
    'Pp': '1',
    'S': '16',
    'T': '4',
    'V': 'VG',
    'W': '3',
    'U': '1',
    '$': '720'},
   {'D': 'WNW',
    'F': '0',
    'G': '20',
    'H': '70',
    'Pp': '3',
    'S': '11',
    'T': '4',
    'V': 'VG',
    'W': '7',
    'U': '1',
    '$': '900'},
   {'D': 'W',
    'F': '-2',
    'G': '18',
    'H': '76',
    'Pp': '5',
    'S': '11',
    'T': '2',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1080'},
   {'D': 'WSW',
    'F': '-2',
    'G': '16',
    'H': '74',
    'Pp': '7',
    'S': '9',
    'T': '2',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1260'}]},
 {'type': 'Day',
  'value': '2021-12-03Z',
  'Rep': [{'D': 'SW',
    'F': '-2',
    'G': '16',
    'H': '78',
    'Pp': '16',
    'S': '9',
    'T': '2',
    'V': 'GO',
    'W': '7',
    'U': '0',
    '$': '0'},
   {'D': 'SW',
    'F': '-2',
    'G': '16',
    'H': '86',
    'Pp': '23',
    'S': '11',
    'T': '2',
    'V': 'GO',
    'W': '8',
    'U': '0',
    '$': '180'},
   {'D': 'SW',
    'F': '-1',
    'G': '16',
    'H': '87',
    'Pp': '17',
    'S': '11',
    'T': '3',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '360'},
   {'D': 'WSW',
    'F': '0',
    'G': '18',
    'H': '87',
    'Pp': '14',
    'S': '11',
    'T': '4',
    'V': 'GO',
    'W': '7',
    'U': '1',
    '$': '540'},
   {'D': 'W',
    'F': '2',
    'G': '20',
    'H': '83',
    'Pp': '8',
    'S': '13',
    'T': '5',
    'V': 'VG',
    'W': '7',
    'U': '1',
    '$': '720'},
   {'D': 'W',
    'F': '2',
    'G': '20',
    'H': '82',
    'Pp': '8',
    'S': '13',
    'T': '6',
    'V': 'VG',
    'W': '7',
    'U': '1',
    '$': '900'},
   {'D': 'W',
    'F': '1',
    'G': '18',
    'H': '86',
    'Pp': '3',
    'S': '11',
    'T': '4',
    'V': 'VG',
    'W': '2',
    'U': '0',
    '$': '1080'},
   {'D': 'WSW',
    'F': '0',
    'G': '18',
    'H': '88',
    'Pp': '5',
    'S': '11',
    'T': '4',
    'V': 'VG',
    'W': '7',
    'U': '0',
    '$': '1260'}]}]

In [85]:
jarrowurl1 = domain + 'wxfcs/all/json/352040?res=hourly&key=00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'
jarrowurl1

'http://datapoint.metoffice.gov.uk/public/data/val/wxfcs/all/json/352040?res=hourly&key=00c5c0cb-0433-46fc-914d-7fe86ad3f7a9'

In [87]:
u.request.urlopen(jarrowurl).read()

b'{"SiteRep":{"Wx":{"Param":[{"name":"F","units":"C","$":"Feels Like Temperature"},{"name":"G","units":"mph","$":"Wind Gust"},{"name":"H","units":"%","$":"Screen Relative Humidity"},{"name":"T","units":"C","$":"Temperature"},{"name":"V","units":"","$":"Visibility"},{"name":"D","units":"compass","$":"Wind Direction"},{"name":"S","units":"mph","$":"Wind Speed"},{"name":"U","units":"","$":"Max UV Index"},{"name":"W","units":"","$":"Weather Type"},{"name":"Pp","units":"%","$":"Precipitation Probability"}]},"DV":{"dataDate":"2021-11-29T14:00:00Z","type":"Forecast","Location":{"i":"352040","lat":"54.9802","lon":"-1.4812","name":"JARROW","country":"ENGLAND","continent":"EUROPE","elevation":"13.0","Period":[{"type":"Day","value":"2021-11-29Z","Rep":[{"D":"WSW","F":"-5","G":"20","H":"82","Pp":"1","S":"9","T":"-1","V":"MO","W":"3","U":"1","$":"540"},{"D":"SW","F":"0","G":"16","H":"76","Pp":"5","S":"2","T":"2","V":"GO","W":"7","U":"1","$":"720"},{"D":"SW","F":"0","G":"18","H":"82","Pp":"30","S":"7","T":"3","V":"GO","W":"7","U":"1","$":"900"},{"D":"WSW","F":"2","G":"29","H":"91","Pp":"13","S":"11","T":"6","V":"GO","W":"7","U":"0","$":"1080"},{"D":"W","F":"5","G":"29","H":"92","Pp":"6","S":"11","T":"8","V":"VG","W":"7","U":"0","$":"1260"}]},{"type":"Day","value":"2021-11-30Z","Rep":[{"D":"WNW","F":"6","G":"25","H":"91","Pp":"10","S":"9","T":"8","V":"VG","W":"8","U":"0","$":"0"},{"D":"WNW","F":"6","G":"22","H":"88","Pp":"9","S":"9","T":"8","V":"VG","W":"7","U":"0","$":"180"},{"D":"NW","F":"6","G":"18","H":"89","Pp":"44","S":"7","T":"8","V":"GO","W":"7","U":"0","$":"360"},{"D":"WSW","F":"6","G":"16","H":"94","Pp":"54","S":"7","T":"8","V":"MO","W":"12","U":"1","$":"540"},{"D":"W","F":"7","G":"22","H":"92","Pp":"52","S":"11","T":"10","V":"GO","W":"8","U":"1","$":"720"},{"D":"WSW","F":"8","G":"25","H":"90","Pp":"15","S":"11","T":"10","V":"VG","W":"7","U":"1","$":"900"},{"D":"SW","F":"7","G":"25","H":"88","Pp":"54","S":"11","T":"10","V":"GO","W":"12","U":"0","$":"1080"},{"D":"SW","F":"7","G":"25","H":"87","Pp":"50","S":"11","T":"10","V":"VG","W":"12","U":"0","$":"1260"}]},{"type":"Day","value":"2021-12-01Z","Rep":[{"D":"WSW","F":"7","G":"27","H":"87","Pp":"50","S":"13","T":"10","V":"VG","W":"12","U":"0","$":"0"},{"D":"WNW","F":"3","G":"34","H":"84","Pp":"49","S":"18","T":"7","V":"VG","W":"12","U":"0","$":"180"},{"D":"WNW","F":"2","G":"36","H":"79","Pp":"40","S":"20","T":"7","V":"VG","W":"9","U":"0","$":"360"},{"D":"NW","F":"1","G":"31","H":"82","Pp":"60","S":"18","T":"6","V":"GO","W":"12","U":"1","$":"540"},{"D":"NNW","F":"1","G":"36","H":"82","Pp":"83","S":"20","T":"6","V":"GO","W":"15","U":"1","$":"720"},{"D":"NNW","F":"1","G":"36","H":"77","Pp":"50","S":"20","T":"6","V":"VG","W":"12","U":"1","$":"900"},{"D":"NNW","F":"0","G":"36","H":"74","Pp":"14","S":"22","T":"5","V":"VG","W":"7","U":"0","$":"1080"},{"D":"NNW","F":"-1","G":"36","H":"69","Pp":"7","S":"22","T":"4","V":"VG","W":"7","U":"0","$":"1260"}]},{"type":"Day","value":"2021-12-02Z","Rep":[{"D":"NW","F":"-3","G":"31","H":"67","Pp":"3","S":"20","T":"3","V":"VG","W":"0","U":"0","$":"0"},{"D":"NW","F":"-4","G":"31","H":"67","Pp":"2","S":"20","T":"2","V":"VG","W":"2","U":"0","$":"180"},{"D":"NW","F":"-3","G":"31","H":"71","Pp":"3","S":"20","T":"2","V":"VG","W":"2","U":"0","$":"360"},{"D":"NW","F":"-3","G":"29","H":"70","Pp":"2","S":"18","T":"3","V":"VG","W":"3","U":"1","$":"540"},{"D":"NW","F":"-1","G":"25","H":"68","Pp":"1","S":"16","T":"4","V":"VG","W":"3","U":"1","$":"720"},{"D":"WNW","F":"0","G":"20","H":"70","Pp":"3","S":"11","T":"4","V":"VG","W":"7","U":"1","$":"900"},{"D":"W","F":"-2","G":"18","H":"76","Pp":"5","S":"11","T":"2","V":"VG","W":"7","U":"0","$":"1080"},{"D":"WSW","F":"-2","G":"16","H":"74","Pp":"7","S":"9","T":"2","V":"VG","W":"7","U":"0","$":"1260"}]},{"type":"Day","value":"2021-12-03Z","Rep":[{"D":"SW","F":"-2","G":"16","H":"78","Pp":"16","S":"9","T":"2","V":"GO","W":"7","U":"0","$":"0"},{"D":"SW","F":"-2","G":"16","H":"86","Pp":"23","S":"11","T":"2","V":"GO","W":"8","U":"0","$":"180"},{"D":"SW","F":"-1","G":"16","H":"87","Pp":"17","S":"11","T":"3","V":"VG","W":"7","U":"0","$":"360"},{"D":"WSW","F":"0","G":"18","H":"87","Pp":"14","S":"11","T":"4","V":"GO","W":"7","U":"1","$":"540"},{"D":"W","F":"2","G":"20","H":"83","Pp":"8","S":"13","T":"5","V":"VG","W":"7","U":"1","$":"720"},{"D":"W","F":"2","G":"20","H":"82","Pp":"8","S":"13","T":"6","V":"VG","W":"7","U":"1","$":"900"},{"D":"W","F":"1","G":"18","H":"86","Pp":"3","S":"11","T":"4","V":"VG","W":"2","U":"0","$":"1080"},{"D":"WSW","F":"0","G":"18","H":"88","Pp":"5","S":"11","T":"4","V":"VG","W":"7","U":"0","$":"1260"}]}]}}}}'